<div class="site">
    <div class="site-sidebar">
        <h1 class="logo">
            WeatherApp.
        </h1>

        <app-search-location (submitLocation)="submittedLocation()"></app-search-location>
    </div>

    <main class="site-main">

        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-item">
                    <a [routerLink]="['/today']" routerLinkActive="active" class="menu-link">Vandaag</a>
                </li>
                <li class="menu-item">
                    <a [routerLink]="['/forecast']" routerLinkActive="active" class="menu-link">Voorspelling vandaag</a>
                </li>
            </ul>
        </nav>

        <router-outlet></router-outlet>
    </main>
</div>
